
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Voice Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body >
    <h1>AI Voice Assistant</h1>
    <div class="box">

      
        <div class="speech-bubble">
            <div id="response" class="status"> I am here to help</div> 
            <div class="mouth"></div>
        </div> 

        <form id="text-form" onsubmit="submitForm(event)">
            <button type="submit" id="start-btn">Prompt Assistant</button>
        </form>
<!--         
        <button id="start-btn">Start</button>
        <button id="stop-btn">Stop</button> -->
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>